:root {
  --main: #101828;
  --gray: #8E929A;
  --button: #3470FF;
  --button-hover: #0B44CD;
  --gray-light: #DADDE1;
  --badges: #F2F4F7;
  --inputs: #F7F7F7;
  --white: #FFFFFF;
}

body {
  font-family: var(--font-manrope), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: (--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}