.container {
    display: flex;

}

.carDetail {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 72px;
}

.img {
    border-radius: 19px;
    max-height: 512px;
}

.infoCar {
    margin-bottom: 68px;
}

.rental {
    margin-bottom: 110px;
}

.specifications {
    margin-bottom: 110px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-bottom: 8px;
}

.address {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.addressDesc {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--button);
    margin-bottom: 32px;
}

.infoTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 20px;
}

.infoDetails {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}